################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Weird-AI-API/.vs
/Weird-AI-API/Weird-AI-API/obj/Debug/netcoreapp1.1
/Weird-AI-API/Weird-AI-API/obj
/Weird-AI-API/Weird-AI-API/obj
/DataIngester/.vs/DataIngester/v15
/DataIngester/DataIngester/bin/Debug/netcoreapp2.1
/DataIngester/DataIngester/obj
/Weird-AI-API/WeirdAI-API/obj/Debug/netcoreapp2.1
/Weird-AI-API/WeirdAI-API/obj
/DataIngester/.vs/DataIngester/DesignTimeBuild/.dtbcache
/Weird-AI-API/WeirdAI-API/bin/Debug/netcoreapp2.1
